*{
    margin: 0px;
    padding: 0px;
}
.main_hader{ 
   height: 400px;
   width: 100%;
   background-image: url("./assets/616013.jpg");
   background-size: cover;
}
.series{
    display: flex;
    color: white;

}
.contain{
    align-items: left;
}
.btns{
   padding-top: 10px;
}
.play{
 margin-right: 10px;
 width: 80px;
 height: 30px;
 border: transparent;
}
.info{
    margin-left: 10px;
    width: 130px;
    height: 30px;
    background-color: gray;
    color: white;
    border: transparent;
   }
   .logos{
    width: 70px;
   }
   .outer{
    font-family: 'Baloo 2';
    color: white;  
   }
   .mainHeading{
    margin: 0px;
    font-size: 50px;
   }
   .main{
    align-items: left;
   }